<mat-toolbar class="footer">
  <span>
    Desenvolvido por <strong class="red" appDirective>Antony dos Santos Felisberto</strong>
  </span>
  <!--
  <ul>
      VOCE PODE IMPLEMENTAR QUANTOS ITENS VOCE QUISER NA DIRETIVA
      A VARIAVEL N RECEBE O VALOR IMPLICITO
      TODA VEZ QUE É CRIADO UMA VARIAVEL E VOCE COLOCA
      let variavel
      QUER DIZER QUE ELA VAI RECEBER UM VALOR DO IMPLICIT DEPOIS

    <li *myFor="let n em [1,2,3] usando 'testes'">
      {{n}}
    </li>
    
  </ul>
  -->
</mat-toolbar>
