<div id="bodySearch">
    <div class="container">
        <div class="entryarea">
            <div class="search-hero">
                <input [value]="searchText" (input)="updateName($event)" type="text">
                <div class="labelline">Search by Hero</div>
            </div>
        </div>
    </div>
</div>

<div id="bodySlider">
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul  #carouselRef class="carousel">
            <li class="card" *ngFor="let hero of heroes | filter:searchText">
                <div class="img">          
                    <img draggable="false" src="{{hero.thumbnail}}" alt="{{hero.name}}">
                </div>
                <h2>{{hero.name}}</h2>
                <span>{{hero.comics}}</span>
                <button [routerLink]="'/character/' + hero.id">SABER MAIS</button>
            </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
</div>